################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Kesac.Toolbox.Desktop/.vs/Kesac.Toolbox.Desktop/v17
/Kesac.Toolbox.Desktop/Kesac.Toolbox.Desktop/bin/Debug/net6.0-windows
/Kesac.Toolbox.Desktop/Kesac.Toolbox.Desktop/obj
